

.container {
    display: flex;
    flex: 1;
    width: 100%; 
    box-sizing: border-box;
}

.sidebar {
    width: 30%;
    background-color: #036b66;
    color: white;
    text-align: center;
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box; 
}

.sidebar img {
    width: 80%;
    border-radius: 50px;
    box-sizing: border-box;
}

.content {
    width: 80%;
    padding: 4em;
}

.styled-link {
    color: inherit; 
    text-decoration: none; 
  }

  .styled-link:visited {
    color: inherit; /* Prevent purple color after clicking */
  }

  .styled-link:hover {
    text-decoration: underline; /* Add underline on hover */
  }

