
h1 {
    text-align: center;
    width: 100%;
}

.content {
    flex: 1;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.schedule-container {
    width: 100%;
    overflow-x: auto; /* Enable horizontal scrolling */
    -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS */
    text-align: center;
}

.schedule-img {
    display: block;
    width: auto; 
    max-width: none; 
    height: auto;
}

/* Medium screens */
@media (min-width: 600px) {
    .schedule-img {
        display: block;
        max-width: 80%;
        height: auto;
        margin: 0 auto;
    }
}

/* Large screens */
@media (min-width: 1024px) {
    .schedule-img {
        max-width: 60%;
    }
}
